@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
}

.white-bg {
    background-color: var(--white);
}

/* root */
:root {
    /* font */
    --main-font: "DM Sans", serif;
    --bg-color: #eceff3;
    /* Primary-color */
    --p50: #e8e8e8;
    --p75: #a0a0a0;
    --p100: #797979;
    --p200: #3f3f3f;
    --p300: #181818;
    --p400: #111111;
    --p500: #0f0f0f;
    --white: #ffffff;

    /* Secondary-color */
    /* --secondary-light: #EFE8E6;
    --Secondary-light-hover: #E7DDD9;
    --Secondary-light-active: #CEB8B1;
    --Secondary-normal: #621B02;
    --Secondary-normal-hover: #581802;
    --Secondary-normal-active: #4E1602;
    --Secondary-dark: #4A1402;
    --Secondary-dark-hover: #3B1001;
    --Secondary-dark-active: #2C0C01;
    --Secondary-darker: #220901; */

    /* Shadow */
    --shadow: 0px 4px 24px #00000015;
}

.red-link {
    color: var(--p100);
}

/* Typography */
h1 {
    font-size: 42px;
    font-family: var(--main-font);
}

h2 {
    font-size: 38px;
    font-family: var(--main-font);
}

h3 {
    font-size: 32px;
    font-family: var(--main-font);
}

h4 {
    font-size: 28px;
    font-family: var(--main-font);
}

h5 {
    font-size: 24px;
    font-family: var(--main-font);
}

h6 {
    font-size: 20px;
    font-family: var(--main-font);
}

p {
    font-size: 16px;
    font-family: var(--main-font);
}

.small {
    font-size: 14px;
    font-family: var(--main-font);
}

.xsmall {
    font-size: 12px;
    font-family: var(--main-font);
}

.wrapper {
    margin-top: 24px;
}

.dark-light {
    color: var(--dark-light);
}

a {
    text-decoration: none;
    color: var(--dark-dark);
    font-family: var(--main-font);
    display: block;
}

/* Input Fields */

.form-label,
.form-check-label {
    font-family: var(--main-font);
    color: var(--p100);
    font-size: 14px;
}

.max-w-166 {
    max-width: 118px !important;
    width: 118px !important;
}

.input-group {
    border: 1px solid var(--p50);
    border-radius: 4px;
}

#button-addon2 {
    color: var(--light-dark);
}

.form-control,
.form-select,
.select2-container {
    height: 40px !important;
    width: 284px;
    color: var(--p300);
    background-color: var(--white);
    border: 1px solid var(--p50) !important;
    border-radius: 4px;
    font-size: 14px;
    font-family: var(--main-font);
}
.selection {
    height: 40px !important;
}
.select2-container {
    width: 100% !important;
    border: 1px solid var(--p50) !important;
}
.select2-container--default .select2-selection--single {
    border: none !important;
    height: 40px !important;
    background-color: transparent !important;
}
.select2-container .select2-selection--single {
    height: 40px !important;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    height: 40px !important;
    line-height: normal !important;
    color: var(--p300) !important;
    font-size: 14px !important;
    font-family: var(--main-font);
    display: flex !important;
    align-items: center;
    justify-content: space-between;
}

.select2-container--open .select2-dropdown--below {
    border: 1px solid var(--p50) !important;
    border-radius: 4px !important;
}

.select2-container {
    max-width: 393.7px !important;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid var(--p50) !important;
    height: 40px !important;
    border-radius: 4px !important;
}
.select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    height: 40px !important;
}

.select2-container--default .select2-results__option--selected {
    background-color: var(--p50) !important;
    color: var(--p300) !important;
}
.select2-container--default
    .select2-results__option--highlighted.select2-results__option--selectable {
        background-color: var(--p100) !important;
        color: var(--white) !important;
}
.select2-results__option{
    padding: 8px !important;
}
.select2-container{
    min-height: 40px;
    height: auto !important;
}

.select2-container--default .select2-selection--multiple{
    display: block;
    background: transparent !important;
    border: none !important;
    max-height: 200px !important;
    line-height: 24px !important;

}
.select2-container--default .select2-selection--multiple .select2-selection__choice__display{
    font-family: var(--main-font);
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: var(--p50) !important;
    border: 1px solid var(--p50) !important;
}
.select2-container--default .select2-search--inline .select2-search__field{
    font-family: var(--main-font) !important;
    font-weight: normal !important;
}
.form-group.focus .form-control,
.form-control:focus,
.form-group.focus .select2-search input[type="text"],
.select2-search input[type="text"]:focus .form-control::placeholder {
    border-color: var(--p50);
    color: var(--p75);
}
.form-text {
    color: var(--p100);
}

a {
    text-decoration: none;
    line-height: normal;
    margin: 0;
}
a:hover {
    color: var(--Secondary-normal);
}

/* Buttons */
.primary-btn {
    height: 45px;
    width: fit-content;
    background-color: var(--p200);
    border: 1px solid var(--p200);
    border-radius: 4px;
    font-size: 16px;
    font-family: var(--main-font);
    padding: 8px 32px;
    color: var(--white);
    display: flex;
    justify-content: center;
    border: none !important;
    align-items: center;
}

.primary-btn:hover {
    background-color: var(--p300);
    border: 1px solid var(--p300);
    color: var(--white);
}

.secondary-btn {
    height: 45px;
    width: fit-content;
    background-color: transparent;
    border: 1px solid var(--p300);
    border-radius: 4px;
    font-size: 16px;
    font-family: var(--main-font);
    padding: 8px 32px;
    color: var(--p300);
    display: flex;
    justify-content: center;
    align-items: center;
}

.addBtn {
    font-size: 14px;
    padding: 8px 12px !important;
    height: auto;
}

/* dropdown */
.dropdown-menu {
    background-color: var(--white);
    border: 1psolid var(--dark-light-hover);
    border-radius: 4px;
    padding: 12px;
    box-shadow: var(--shadow);
}

.dropdown-menu > li > a:hover {
    background-color: var(--p50);
    border-radius: 4px;
    color: var(--p300);
}

.dropdown-menu > li > a:focus {
    background-color: var(--p200);
    border-radius: 4px;
    color: var(--white);
}

.dataArea {
    padding: 16px;
}

.topBar {
    width: 100%;
    height: auto;
    background-color: var(--white);
    border-bottom: 1px solid var(--dark-light-hover);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
}

.section-title {
    padding: 16px;
    background-color: var(--white);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-dropdown {
    background-color: #f9f9f9;
    border: 1px solid var(--dark-light-hover);
    font-family: var(--main-font);
    width: 272px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--dark-normal);
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 4px;
}

.filter-dropdown:hover {
    background-color: #e9e9e9;
    border: 1px solid var(--dark-light-hover);
    font-family: var(--main-font);
    color: var(--dark-normal);
}

.table-responsive {
    font-size: 14px;
    font-family: var(--main-font);
}

.table thead tr th {
    color: var(--p200);
    background-color: var(--bg-color) !important;
    border: none;
    vertical-align: middle;
}

.badge {
    font-size: 12px;
    font-family: var(--main-font);
    padding: 4px 8px;
    border-radius: 32px;
    font-weight: normal;
    color: var(--dark-light);
    background-color: var(--light);
    border: 1px solid var(--dark-light-hover);
}

.ongoing {
    color: #32ade6;
    background-color: #e0f5ff;
    border: 1px solid #32ade6;
}

.completed {
    color: #6f4800;
    background-color: #fff2d9;
    border: 1px solid #6f4800;
}

.upcoming {
    color: #9747ff;
    background-color: #efe3ff;
    border: 1px solid #9747ff;
}

.badge-active {
    color: #34c759;
    background-color: #e4ffeb;
    border: 1px solid #34c759;
}

.badge-inactive {
    color: #ff3b30;
    background-color: #fff3f2;
    border: 1px solid #ff3b30;
}
.badge-pending {
    color: #ff9500;
    background-color: #fff3e0;
    border: 1px solid #ff9500;
}
.badge-assigned {
    color: #5330ff;
    background-color: #f5f2ff;
    border: 1px solid #5330ff;
}

.pagination {
    background-color: transparent !important;
}

.pagination li > a,
.pagination li > span {
    color: var(--Secondary-normal);
    font-size: 14px;
    font-family: var(--main-font);
    border: 1px solid var(--Secondary-normal);
    border-radius: 4px;
    padding: 6px 12px;
    margin: 0 4px;
    background-color: var(--white);
    transition: all ease-in 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 32px;
    min-height: 32px;
}

.pagination li > a:hover,
.pagination li > span:hover,
.pagination li > a:focus,
.pagination li > span:focus {
    color: var(--white);
    background-color: var(--Secondary-normal);
}

.pagination li:first-child > a,
.pagination li:first-child > span,
.pagination li:last-child > a,
.pagination li:last-child > span,
.pagination li:last-child > a:hover,
.pagination li:last-child > a:hover {
    border-radius: 4px;
    border: 1px solid var(--Secondary-normal);
}

.sectionBlock {
    padding: 16px;
    background-color: var(--white);
    border-radius: 4px;
}

.sectionBlock .sectionBlock-title {
    color: var(--secondary-normal);
    font-weight: 500;
    border-bottom: 1px solid var(--dark-light-hover);
    padding-bottom: 6px;
}

.gap-3 {
    column-gap: 18px;
}

.tox-tinymce {
    width: 100% !important;
}

.subSectionRow {
    width: 100%;
    border-bottom: 1px solid var(--secondary-light);
    color: var(--dark-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
}

.icon-btn {
    padding: 6px 12px;
    border: 1px solid var(--p200);
    color: var(--p200);
    background-color: var(--white);
    border-radius: 4px;
    width: fit-content;
    height: 40px;
    width: 40px;
    transition: all ease-in 0.5s;
}

.addedImage {
    max-width: 140px;
    border-radius: 4px;
    height: 140px;
    object-fit: cover;
    object-position: center;
}

.tabelImage {
    max-width: 72px;
    height: 72px;
}

.dataTables_length {
    margin-bottom: 16px;
}

.table > :not(caption) > * > * {
    border-bottom: 1px solid var(--dark-light-hover);
}

.dataTables_wrapper .dataTables_filter input {
    border: 1px solid var(--p50);
    border-radius: 4px;
    padding: 6px 12px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    background-color: var(--white) !important;
    color: var(--p200) !important;
    border-radius: 4px;
    padding: 6px 12px;
    margin: 0 4px;
    transition: all ease-in 0.3s;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background-color: var(--p200) !important;
    border: 1px solid var(--p50);
    color: var(--white) !important;
    border-radius: 4px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: var(--white) !important;
}

.table-text-wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
    width: fit-content;
    display: block;
}

input[type="file"] {
    height: 40px !important;
}

.nav-pills .nav-link {
    font-size: 16px;
    color: var(--p75);
    font-family: var(--main-font);
}

.nav-pills .nav-link.active {
    color: var(--p300) !important;
    border-bottom: 2px solid var(--p300);
    border-radius: 0px;
    font-weight: 500;
    background-color: transparent !important;
}

.modal-content {
    border-radius: 6px;
    border: none;
    background-color: var(--white) !important;
}

.dataOverviewSection {
    padding: 0px 16px;
}

.dataOverviewSection .dataOverview {
    padding: 16px;
    border-radius: 6px;
    background-color: var(--white);
}

.tabelImage {
    max-width: 72px;
    height: 72px;
    object-fit: cover;
    object-position: center;
}

.ProductViewSidebar,
.FranciseViewSidebar {
    background-color: var(--white) !important;
    width: 50% !important;
}

table tbody tr {
    border-bottom: 1px solid var(--p50) !important;
    font-family: var(--main-font) !important;
}

table.dataTable tbody tr {
    border-bottom: 1px solid var(--p50) !important;
    background-color: var(--white) !important;
    border-width: 1px !important;
}

input[type="range"] {
    width: 100%;
    color: #34c759 !important;
    background-color: #34c759 !important;
}

.newsection {
    border-top: 1px solid var(--p50);
    padding-top: 12px;
}

.footer {
    background-color: var(--white);
    padding: 6px 0px;
    border-top: 1px solid var(--p50);
    width: 100%;
}

.footer p {
    font-size: 12px;
    color: var(--p100);
    text-align: center;
}

.alert {
    width: 320px !important;
    position: absolute;
    left: 45%;
    padding: 1rem;
    font-family: 'DM Sans';
    font-size: 14px;
    top: 24px;
    z-index:24;
}